# ---- Python & Django ----
__pycache__/
*.py[cod]
*.pyo
*.sqlite3
*.log

# ---- Environment / Secrets ----
.env
.env.*
venv/
.envrc

# ---- Poetry ----
# (ignore local virtualenvs created under .venv)
.venv/
# (ignore Poetry cache paths)
C:/Users/admin/AppData/Local/pypoetry/Cache/
C:/Users/admin/AppData/Local/pypoetry/Cache/virtualenvs/

# ---- OS junk ----
.DS_Store
Thumbs.db

# ---- IDE files ----
.vscode/
.idea/
